{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pi-Spy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/botstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>
  <body>
    <br><br>
    <div class="container" style="height:50%">
    <div class="row" style="height:20%">
    <div class="col-sm-5" style="width:160%"></div>
      <div class= "col-sm-5" style="height:100px">
       <img id="logo" src="https://cdn.glitch.com/d517139f-1bb5-43bc-8575-4eda17b40c09%2FPI%20SPY-logo-11.png?1547939461017" style="right:5%; width:75%; height:90%">
      </div>
      <div class="col-sm-2"></div>
    </div>
    </div>
    <br><br>

        <div class="container" style="width:100%; padding:0;">
                <div class="row">
                 <span class="col-xs-6 col-md-6 col-sm-6"> 
                   <a href="/Profile/"> <img src="https://cdn.glitch.com/d517139f-1bb5-43bc-8575-4eda17b40c09%2FPI%20SPY-icons-profile.png?1547955561488" style="width:125%;"></a>
                  </span>
                  <span class="col-xs-6 col-md-6 col-sm-6">    
                    <a href="CamView/"><img src="https://cdn.glitch.com/d517139f-1bb5-43bc-8575-4eda17b40c09%2FPI%20SPY-icons-stream.png?1547955567828" style="width:125%"></a>
                  </span>  
          </div>
                  

            <div class="row">
              <span class="col-xs-6 col-md-6 col-sm-6"> 
                   <a href="/Log/"><img  src="https://cdn.glitch.com/d517139f-1bb5-43bc-8575-4eda17b40c09%2FPI%20SPY-icons-log.png?1547955561448" style="width:125%;"></a>
              </span>
              <span class="col-xs-6 col-md-6 col-sm-6">  
                    <a href="/Gallery/"><img src="https://cdn.glitch.com/d517139f-1bb5-43bc-8575-4eda17b40c09%2FPI%20SPY-icons-gallery.png?1547955561531" style="width:125%;"></a>
              </span>              
            </div> 

            <div class="row">
              <span class="col-xs-6 col-md-6 col-sm-6">
                  <a href="/Settings/">  <img src="https://cdn.glitch.com/d517139f-1bb5-43bc-8575-4eda17b40c09%2FPI%20SPY-icons-setting.png?1547955561575" style="width:125%;"></a>
              </span>
              <span class="col-xs-6 col-md-6 col-sm-6">
              <a href="/Contact/">  <img src="https://cdn.glitch.com/d517139f-1bb5-43bc-8575-4eda17b40c09%2FPI%20SPY-icons-contact.png?1547955518515" style="width:125%;"></a>
              </span>
                </div>
            </div>
  


           

        
    
  </body>
</html>

